.card {
  background: linear-gradient(180deg, rgb(191, 253, 162), rgb(210, 255, 152));
  max-width: 400px;
  margin: 50px auto;
  padding: 50px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.name {
  font-weight: 800;
  margin: 50px 0;
}

.phone {
  margin: 40px 0;
}

.button {
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #c9c9c9;
}
