* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  background: #84cf96;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.city-cards {
  background: #80b86f;
  max-width: 600px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  border: 2px solid #aafa33;
  border-radius: 10px;
}

.math-quiz {
  padding: 40px 20px 40px 20px;
  background: #add8e6;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #b36bb5;
  border-radius: 10px;
}
